<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
<script type="text/javascript">
function addDays(date, days) {
  const copy = new Date(Number(date))
  copy.setDate(date.getDate() + days)
  return copy
}

window.onload = function () {
  var data = $('#my-data').data();
  /*console.log(data.dps[0])
  console.log(data.dps[data.dps.length-5])
  console.log(new Date(data.dps[0]))
  console.log(new Date(data.dps[data.dps.length-5]))
  console.log(data.dps.length)
  */
  var dps1 = []
  var dps2 = []
  var stockChart = new CanvasJS.StockChart("chartContainer",{
    theme: "light2",
    exportEnabled: true,
    title:{
      text:"Chart with Date-Time Axis"
    },
    subtitles: [{
      text: data.name + " in USD"
    }],
    charts: [{
      axisX: {
        crosshair: {
          enabled: true,
          snapToDataPoint: true
        }
      },
      axisY: {
        prefix: "$"
      },
      data: [{
        type: "candlestick",
        yValueFormatString: "$#,###.##",
        dataPoints : dps1
      }]
    }],
    navigator: {
      data: [{
        dataPoints: dps2
      }],
      slider: {
        minimum: new Date(data.dps[0]),
        maximum: addDays(new Date(data.dps[0]), 30)
      }
    }
  });
  $( function() {
    //console.log("12121212")
    for(var i = 0; i < data.dps.length; i+=5){ // data.dps.length
      dps1.push({x: new Date(data.dps[i]), y: [Number(data.dps[i+1]), Number(data.dps[i+2]), Number(data.dps[i+3]), Number(data.dps[i+4])]});
      dps2.push({x: new Date(data.dps[i]), y: Number(data.dps[i+1])});
    }
    /*
    console.log("ASDAS211212121212DASD")
    console.log("XXXX")
    console.log(data.dps[0][0])
    console.log("YYYYY")
    console.log(dps1)
    console.log(dps2)
    */
    stockChart.render();
  });
}
</script>
</head>
<body>
<meta id="my-data" data-name="{{name}}" data-dps="{{dps}}">
<div id="chartContainer" style="height: 450px; width: 100%;"></div>
</body>
</html>