<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETF Sector Exposure</title>

    <form action = "" method = "get">
    <label for="entered_symbol">Enter a ETF symbol(like SPY, VOO, VO): </label>
    <input id="entered_symbol" type="text" name="entered_symbol">
    <input type="submit" value="OK">
    </form>

    <h2> ETF Sector Exposure Rates</h2>

    <tbody>
        {% for row in context %}
                <tr>
                    <td>{{row}}</td>
                </tr>
            <br>
        {% endfor %}
    </tbody>

    <br><br>
    <form action = "" method = "post">
        {% csrf_token %}
    <label for="mail_address">Enter your mail address to subscribe the daily ETF data! </label>
    <input id="mail_address" type="text" name="mail_address">
    <input type="submit" value="OK">
    </form>

</head>
<body>

</body>
</html>